<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promedio de Calificaciones</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center mt-2">Promedio Calificaciones</h1>

    <div class="container">
      <div class="jumbotron mt-3">
        <div class="row">
          <div class="col-2">
            <label for="">Ingresa la matricula</label>
            <input
              id="matriculas"
              type="number"
              class="col-"
              placeholder="Matricula"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="">Ingresa la primera calificacion</label>
              <input
                id="cal1"
                type="number"
                class="form-control"
                placeholder="Digita la primera calificación"
              />
            </div>
            <div class="form-group">
              <label for="">Ingresa la primera calificacion</label>
              <input
                id="cal2"
                type="number"
                class="form-control"
                placeholder="Digita la primera calificación"
              />
            </div>
            <div class="form-group">
              <label for="">Ingresa la primera calificacion</label>
              <input
                id="cal3"
                type="number"
                class="form-control"
                placeholder="Digita la primera calificación"
              />
            </div>
            <div class="form-group">
              <label for="">Ingresa la primera calificacion</label>
              <input
                id="cal4"
                type="number"
                class="form-control"
                placeholder="Digita la primera calificación"
              />
            </div>
            <div class="form-group">
              <label for="">Ingresa la primera calificacion</label>
              <input
                id="cal5"
                type="number"
                class="form-control"
                placeholder="Digita la primera calificación"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <button id="botton promedio" class="btn btn-outline-info">
            Calcular promedio
          </button>
        </div>

        <div id="Imprimirmatricula" class="alert alert-primary mt-2 col-5">
          Matricula
        </div>
        <div id="FinalAverage" class="alert alert-primary col-5">Promedio</div>
      </div>
    </div>

    <script src="./../Javascript/App.js"></script>
  </body>
</html>
