<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practica2</title>
    <!--Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center mt-2">La brocha gorda</h1>

    <div class="container">
      <div class="jumbotron mt-2">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="">Ingrese el largo de la pared</label>
              <input
                id="largewall"
                type="number"
                placeholder=" Largo de la pared"
              />
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Ingrese el ancho de la pared</label>
              <input
                id="widthwall"
                type="number"
                placeholder="Ancho de la pared"
              />
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="">Ingrese el costo por m2</label>
              <input id="cost" type="number" placeholder="Metros cuadrados" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div id="Calcularmetros" class="btn btn-outline-success btn-block">
              Calcular cotizacion
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label for="" class="mt-2">Resultado en pesos:</label>
            <div
              id="imprimirresul"
              class="alert alert-success m-2"
              role="alert"
            >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./../Javascript/App.js"></script>
  </body>
</html>
