<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practica4</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center mt-2">Área de un circulo</h1>

    <div class="container">
      <div class="jumbotron mt-3">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="">Ingresa el radio del circulo</label>
              <input
                id="radios"
                type="number"
                class="form-control"
                placeholder="Digite el radio del circulo"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button id="Calcularpi" class="btn btn-outline-info btn-block">
              Calcula área
            </button>
          </div>
        </div>

        <div id="ImprimirResultado" class="alert alert-primary alert mt-3">
          Imprimir radio
        </div>
      </div>
    </div>

    <script src="./../Javascript/App.js"></script>
  </body>
</html>

